body{
    font-family: 'Times New Roman', Times, serif;
    background-color:#BCD3FF;
}

form {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    width: 30%;
    height: auto;
    margin: 20px auto;
    padding: 40px;
    background-color: #BCD3FF;
    border: 2px solid #000102;
    border-radius: 40px 0px 40px 0px;
    box-shadow: 0 0 10px;
}
