
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    width:400px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:600;
    text-align:center;
    border:2px solid #000102;
  }


body
{
  background-color:rgb(182, 236, 182);
}




